---
layout: base.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="page-head">
  <h1 class="serif display">That page isn’t here.</h1>
  <p class="serif lede">It may have moved. Try <a href="/writing/" class="ul">Writing</a>, <a href="/making/" class="ul">Making</a>, or the <a href="/" class="ul">homepage</a>.</p>
</section>
